	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61019090-26"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-61019090-26');
	</script>

    <!-- GITHUB BUTTON JS -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
    <!-- Main Javascript -->          
    <script type="text/javascript" src="{{ 'assets/plugins/jquery-3.3.1.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/plugins/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>     
    <script type="text/javascript" src="{{ 'assets/plugins/stickyfill/dist/stickyfill.min.js' | relative_url }}"></script>                                                                
    <script type="text/javascript" src="{{ 'assets/js/main.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/plugins/prism/prism.js' | relative_url }}"></script>    
    <script type="text/javascript" src="{{ 'assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js' | relative_url }}"></script>
